@font-face { 
    font-family: samsungsharpsans; 
    src: url('../Fonts/Circular Std Black.ttf'); 
} 
@font-face { 
    font-family: Avenir-Light; 
    src: url('../Fonts/Circular Std Bold.ttf'); 
} 
@font-face { 
    font-family: samsungsharpsans-bold; 
    src: url('../Fonts/Circular Std Medium.ttf'); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
/*Navigation Bar */
.nav-color
{
	background-color: #10103d;
}
.nav-txt
{
	color: #66b5ff;
	font-family: Circular Std Medium;

}
.nav-txt_2
{
	color: white;
	font-family: Circular Std Medium;
}
li
{
	display: inline;
	padding-right: 50px;
	color: white;
}
/*First Section*/
.section_one
{
	background-color:#1a1a65;
	width: auto;
	height: 600px;
}
.section-txt
{
	font-family: Circular Std Black;
	color:#e62e00;
	font-size: 4em;

}
.container_one
{
	padding-top: 100px;

}
/*Second Section*/
.section_two
{
	background-color:#e6f7ff;
	width: auto;
	height: auto;
}
.container_two
{
	padding-top: 50px;
	padding-left: 50px;

}
.Tour_txt_one
{
	font-family: Circular Std Medium;
	font-size: 2em;
	color: #10103d;

}
.Tour_txt_two
{
	font-family: Circular Std Black;
	font-size: 3em;
	color: #10103d;
}
.imgBx{
    width: 90%;
    height: 500px;
    overflow: hidden;
 }
 .imgBx img{
    width: 100%;
    height: 400px;
 }
 .Tour_footer_one
 {
 	font-family: Circular Std Medium;
	font-size: 2em;
	color: #ff3300;
	padding-right: 20px;
 }
 .Tour_footer_two
 {
	font-family: Circular Std Black;
	font-size: 3em;
	color:#ff3300;
	padding-right: 20px;
}
.fa
{
	padding-right: 30px;
}
}
